*{
    margin: 0px;
}

.navbar {
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
    height: 60px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}

.menu button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 20px;
    padding: 8px 15px;
    
}

.search {
    padding: 20px;
    border: none;
}

.search input {
    width: 400px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
}
.search button {
    height: 34px;
    padding: 0 10px ;
    cursor: pointer;
    border-radius: 5px;
}
.search button:hover {
    background-color: rgb(153, 154, 143);
}

/**/
.nav-menu {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: left;
}
  
li.nav-item {
    display: flex;
    align-items: center;
    height: 54px;
    font-size: 20px; 
    padding: 0 10px; 
    color: white;  
}



.nav-item:hover{
    border: 1px solid white;
    border-bottom: 5px solid white;
}
  
a {
    color: white;
    text-decoration: none;
    
}

.menu{
    display: flex;
}
